.df {
  display: flex;
}

.aic {
  align-items: center;
}

.tac {
  text-align: center;
}

.aib {
  align-items: baseline;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.fdc {
  flex-direction: column;
}

.ml20 {
  margin-left: 20px;
}

.cp {
  cursor: pointer;
}

.pt30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pr {
  position: relative;
}

.mr50 {
  margin-right: 50px;
}

.aie {
  align-items: flex-end;
}

.disabled-txt-color {
  color: #ccc !important;
}

.fwb {
  font-weight: bold !important;
}
